<div class="user-details">
    <h1> My Expertise </h1>
    <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
        <h2>Platform</h2>
        <i class="devicon-android-plain-wordmark colored"></i>
        <p>2+ years of experience in developing Android applications. Worked on apps in Automation, Health and EdTech domain. Contributed to open source projects like Oppia</p>
    </div>
    <div class="tech">
        <h2>Language</h2>
        <i class="devicon-java-plain"></i>
        <i class="devicon-kotlin-plain"></i>
        <p>Experience in Java, Kotlin for Android development. Also have good knowledge about arhitecture and design patterns.</p>
    </div>
    <div class="tech">
        <h2>Tools</h2>
        <i class="devicon-git-plain colored"></i>
        <i class="devicon-gradle-plain colored"></i>
        <i class="devicon-figma-plain colored"></i>
        <p>Familiar with Jetpack, Retrofit, Firebase, Gradle, Android Studio, Git, VSCode, Figma, Slack.</p>
    </div>
</div>