<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="images-right">
        <div class="card">
            <img alt="Stratofox" src="{{ " /assets/img/stratofox.png " }}" />
        </div>
    </div>
    <div class="contents">
        <h3> Stratofox - Near Space, Near You </h3>
        <ul>
            <li> Gamified content and UI</li>
            <li> 3D Model to visualize HAB</li>
            <li> One stop solution for all materials</li>
            <li> FAQs and Community Guidelines</li>
        </ul>
        <p>Among the Top 10 teams in Nasa Space Apps Challenge. Designed and developed a course application to teach STEM students to build a low cost High Altitude Balloon(HAB). Developed the entire app in 2 days with Multi module MVVM architecture.</p>
        <a class="project-link" target="_blank" href="https://linktr.ee/DEEPSPACE9">Check it out</a>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <div class="card">
            <img alt="Essential Care For Every Baby" src="{{ " /assets/img/ECEB.jpg " }}" />
        </div>
    </div>
    <div class="contents-right">
        <h3> Essential Care For Every Baby </h3>
        <ul>
            <li> Register and monitor babies</li>
            <li> Real time health alerts</li>
            <li> Schedule Calls with doctors</li>
        </ul>
        <p>Developed ECEB app for Google Summer Of Code. Implemted the skeleton for every screen, worked on setting up the app with the server, real time alerts, etc.</p>
        <a class="project-link" target="_blank" href="https://gitlab.com/abhinav12k/eceb">Check it out</a>
    </div>
</div>
<div class="user-projects">
    <div class="images-right">
        <div class="card">
            <img alt="Atom" src="{{ " /assets/img/Atom.jpg " }}" />
        </div>
    </div>
    <div class="contents">
        <h3> Atom </h3>
        <ul>
            <li> UI standardization and Dark Mode</li>
            <li> InAppUpdates</li>
            <li> User Accounts section</li>
            <li> Developed a new Flavor - Atom: Mood Tracker & Journal</li>
        </ul>
        <p>Worked on Atom Android app. Standardized UI for different screen sizes using device aspect ratio. Added features like InAppUpdates, User Accounts section and created a new flavor.</p>
        <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.subconscious.thrive">Check it out</a>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <div class="card">
            <img alt="MoviFreak" src="{{" /assets/img/MoviFreak.jpg " }}" />
        </div>
    </div>
    <div class="contents-right">
        <h3>MoviFreak</h3>
        <ul>
            <li> Latest and most popular Movies and TvShows</li>
            <li> Save content Offline</li>
            <li> Authentic reviews</li>
        </ul>
        <p>Created a Movie and TvShow streaming application which allows the user to view latest trailers with an embedded youtube player, get authentic reviews and save your favourite content offline.</p>
        <a class="project-link" target="_blank" href="https://github.com/abhinav12k/MoviFreak">Check it out</a>
    </div>
</div>
<div class="user-projects">
    <div class="images-right">
        <div class="card">
            <img alt="Auto Like" src="{{ " /assets/img/AutoLike.jpg " }}" />
        </div>
    </div>
    <div class="contents">
        <h3> Auto Like </h3>
        <ul>
            <li> Added support for hinge, bumble, badoo</li>
            <li> Added Doki and autostart functionality</li>
            <li> Improved crashlytics from 68% to 98.6%</li>
        </ul>
        <p> Worked as a freelancer on LikeMaster. Automated swipe functionality across multiple apps by exploiting Android Accessibility service.</p>
        <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.swipe.likemaster">Check it out</a>
    </div>
</div>